.upload-image{
    figure{
        position: relative;
        i{
            color: white;
            font-size: 25px;
        }
    }
    figcaption{
        position: absolute;
        bottom: 5%;
        right: 17%;

        input {
            display: none;
        }
    }


}
